body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 253);
}
.calculator {
    border: 2px solid #ff0000;
    padding: 20px;
    width: 250px;
    background-color: #eab243;
    border-radius: 20px;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
button {
    padding: 10px;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border: 1px solid black;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}